<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <!-- Подключение Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    h1 {
      color: #333;
    }

    p {
      color: #666;
    }
  </style>
</head>
<body>
<div class="container">
  <h1 class="mt-5">About Project</h1>
  <p class="mt-3">Assignment - 4.
    In this assignment you need to modify Assignment 3, (related to your chosen topic).
    Please ensure that you check your work before uploading it to Moodle.
    If the students' work fails to operate on teacher’s computer, they will get 0. Points will
    only be awarded if the project meets the specified requirements and is fully operational.
    In case if your works will be similar to your classmates or other students from different
    groups, you will be awarded with 0 grade. This includes designs as well, so try to
    implement unique design for your work. Develop your frontend using EJS.</p>


</div>

<!-- Подключение Bootstrap JS и зависимостей -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
